PyQt6; sys_platform == "linux" or sys_platform == "darwin"
evdev; sys_platform == "linux"
pyudev; sys_platform == "linux"
pyobjc-framework-Quartz; sys_platform == "darwin"
pyobjc-framework-ApplicationServices; sys_platform == "darwin"
